{%extends 'base.html'%}
{%block first%}
        <div class="container">
            <form action="{%url 'edit' blog.id%}" method="POST">
                {%csrf_token%}
                <h4>제목: </h4>
                <input type="text" name="title" value="{{blog.title}}">
                <br>
                <br>
                <h4>본문: </h4>
                <textarea name="body" id="" cols="40" rows="10">{{blog.body}}</textarea>
                <br>
                <br>
                <input class="btn btn-dark" type="submit" balue="제출하기">
            </form>
        </div>
{%endblock%}